//
//  BaseTargetConfig.xcconfig
//  FintechBomb
//
//  Created by 刁爷 on 2022/3/10.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// 设置版本号
// 遵循版本号原则,采用4位
PRODUCT_VERSION_SUFFIX=0
PRODUCT_VERSION_BASE = 1.0.0
PRODUCT_VERSION = $(PRODUCT_VERSION_BASE).$(PRODUCT_VERSION_SUFFIX)

PRODUCT_BUNDLE_NAME = fintechbomb
